<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>문장을 입력하시면 단어를 세어 드립니다!</h1>
        <form action="result">
            <textarea name="sentence" cols="60" rows="30"></textarea>
            <input type="submit" value="제출">
        </form>
        <br>
        <a href="{%url 'welcome'%}">홈으로 돌아가기</a>
    </div>
</body>
</html>